@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background: var(--grey-900);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 38.3rem;
  background: var(--grey-800);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.9rem;
  text-align: center;
}
.card .owner-name {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--white);
  margin-top: 2.3rem;
  margin-bottom: 0.8rem;
}
.card .location {
  color: var(--green);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2.9rem;
}
.card .description {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  margin-bottom: 2.5rem;
}
.owner-image img {
  width: 9.1rem;
  height: 9.1rem;
  border-radius: 50%;
}
.links {
  width: 100%;
  display: flex;
}

.links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  list-style-type: none;
  text-align: center;
  width: 100%;
}
.links ul li {
  width: 100%;
}
.links ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.6rem;
  background: var(--grey-700);
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
}
.links a:hover {
  background: var(--green);
  color: var(--grey-900);
}
@media (max-width: 600px) {
  .card {
    margin:auto;
    width: 89%;
    padding: 2.6rem;
  }
}
