@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
--green: hsl(75, 94%, 57%);
--white: hsl(0, 0%, 100%);
--grey-700: hsl(0, 0%, 20%);
--grey-800: hsl(0, 0%, 12%);
--grey-900: hsl(0, 0%, 8%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    background: var(--grey-900);
    height: 100vh;
    width: 100vw;
    color: white;
}

.container {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card {
    width: 380px;
    height: 611px;
    background: var(--grey-800);
    border-radius: 0.675rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position:relative
}
.upper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.card .owner-image {
    width: 100px;
    margin: 32px auto 1px;
}
.owner-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    
}
.card .owner-name {
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 5px;
    
}
.card .description {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.card .location {
    color: var(--green);
    margin-bottom: 20px; 
}

.card .links a {
    text-decoration: none;
    color: white;
}
.links {
    position:absolute;
    bottom: 0;
    padding: 15px 39px 13px 39px ;
}

.card .links button {
    margin-bottom: 14px;
    display: block;
    border-radius: 10px;
    font-weight:600;
    background: var(--grey-700);
    border-style: none;
    text-align: center;
    width: 306px;
    height: 46px;
    font-size: inherit;
    letter-spacing: 0.5px;
    cursor: pointer;

}
.card .links button:hover,.links button:hover a{
    background: var(--green);
    color: var(--grey-800);
    
}
.owner-image {
    width: 20px;
   
}
img {
    width: 100px;
}

@media (max-width: 600px) {
  .container .card {
    width: 324px;
    height: 578px;
  }
  .card .links button {
    width: 280px;
  }
  .card .location {
    margin-bottom: 0px; 
  }

}
  



